#Python files#
#################
*.pyc

#Latex Files#
################
PyGravity.aux
PyGravity.log
PyGravity.run.xml
PyGravity.synctex.gz
PyGravity-blx.bib
PyGravity.bbl
PyGravity.blg

#ipython misc files#
####################
.ipynb_checkpoints

#build folders
##################
build
